@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
    // .menu{
    //     &__list{
    //         это бред
    //     }
    // }
    &__btn{
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}

.logo{
    margin: 0 auto;
}

.menu{
    // padding-left: 35px;
    // padding-right: 60px;
    padding-right: 15px;
    &__list{
        display: flex;
    }
    // &__list-item + .menu__list-item{
    //     padding-left: 80px;
    // } 
    &__list-item{
        padding-right: 45px;
        padding-left: 35px;
    }
    &__list-link{
        @extend %title-font;
        color: rgba(54, 56, 56, 0.9033);
        line-height: 22px;
    }
}

.footer{
    &__content{
        
    }
}


